

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    width: 100vw;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    width: 1100px;
}
ul {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

li {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

.intro {
    display: flex;
    margin: 100px auto;
    gap: 50px;
}

.intro-left {
    width: 500px;
}

.intro-left > button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    width: 6em;
    padding: 6px 8px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 550px;
    flex: 1;
}

/*This is the start of the second section of the page */

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 1em;
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 150px;
}

.box-text {
    font-size: 18px;
    color: grey;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 8px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    width: min-content;
    gap: 80px;
}

.box {
    border: 5px solid #3882f6;
    width: 9em;
    height: 9em;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

/* this is the start of the third section of the page */

.third {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 500px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 900px;
}

.thor {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bolder;
    margin-right: -600px;
}

/* this is where the fourth section of the page begins */

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25;
    background-color: #3882f6;
    color: #f9faf8;
    height: 150px;
    width: 800px;
    border: none;
    border-radius: 12px;
    margin: 100px auto;
    padding-right: 150px;
    padding-left: 150px;
}

.call-head {
    font-size: 24px;
    font-weight: bold;
}

.call-text {
    font-size: 18px;
}

.fourth > button {
    background-color: #3882f6;
    border: 1px solid white;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    margin-left: 100px;
}

/* this is where the footer section begins */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #1F2937;
    color: #f9faf8;
}